name: Deploy MyHireShield

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Project folder mein jana
            cd /var/www/myhireshield
            
            # GitHub se naya code khinchna
            git pull origin main
            
            # Server setup
            cd server
            npm install
            
            # PM2 se restart karna
            pm2 restart hireshield-api || pm2 start server.js --name "hireshield-api"